.nameColImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 0;
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
}
.nameColText {
    margin-left: 8px;
    p {
        margin: 0;
        &:first-child {
            font-size: 16px;
            font-weight: 900;
            color: #222;
            font-family: "Segoe_UI";
        }
        &:nth-child(2) {
            font-size: 12px;
            font-weight: 900;
            font-family: "Segoe_UI";
        }
    }
}
.TokenColText {
    p {
        margin: 0;
        &:first-child {
            font-size: 16px;
            font-weight: 900;
            color: #222;
            font-family: "Segoe_UI";
        }
        &:nth-child(2) {
            font-size: 12px;
            font-weight: 900;
            font-family: "Segoe_UI";
        }
    }
}
.ActionCol {
    button {
        background-color: #f95192;
        border-radius: 4px;
        color: #fff;
        border: none;
        padding: 3px 10px;
        cursor: pointer;
    }
}
